fetch-event-source
pinecone
react-accordion
node
react-dom
react
typescript-eslint/parser
autoprefixer
clsx
dotenv
eslint-config-next
eslint
langchain
lucide-react
next
pdf-parse
postcss
prettier
react-markdown
tailwind-merge
tailwindcss
tsx
typescript
